*{
	margin : 0;
	padding :0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; 
}

body{
	font-family: "Consolas";
	width: 100%;
	scroll-behavior: smooth;
	background: #E7E7E7;
}

header,footer,section,article,div,nav,figure{
	display: block;
}

nav ul{
	display: flex;
	flex-direction:row;
}
nav li{
	list-style: none;
}
footer{
	padding-top: 8px;
}
.clear{
	clear: both;
}

li{
	list-style: none;
}
dl{

}
h1{
	display: block;
	font-size: 2em;
	font-weight: bold;
}
dl dt:nth-of-type(2n),
dl dd:nth-of-type(2n){
	background: #F1F1F1;
}

dt{
	display: inline-block;
	width: 33%;
	padding: 8px;
	text-align: right;
	text-transform: capitalize;
	margin: 0px;
	vertical-align: top;
}
dt:after{
	content: " : ";
}
dd{
	display: inline-block;
	width: 65%;
	padding: 8px;
	margin: 0px;
	position: relative;
	left: -8px;
}

a,
a:visited{
	color:blue;
}

a:hover{

}
a img{
	border: none;
}

pre{
	
}
table {
    border-collapse: collapse;
    width: 100%;
}
thead{
	background: #e7e7e7
}

td, th {
    border: 1px solid #7f7f7f;
    text-align: left;
    padding: 4px;
}
th>a,
th>a:visited{
	text-decoration: none;
	color:#000;
}

th>a:hover{
	text-decoration: underline;
	color:blue;
}

tr:nth-child(even) {
    background-color: #EFEFEF;
}
/*---------------Form------------------*/

form {
	clear: both;
}
fieldset {
	border: none;
	-webkit-appearance: none;
	outline: none;
}
fieldset legend {
	color: #484E52;
	font-size: 0.8em;
	font-style: italic;
	margin-bottom: 1em;
}

form div {
	clear: both;
	vertical-align: text-top;
	margin:8px 0px;
}

form .hidden{
	display: none
}

form .required {
	font-weight: bold;
}
form .required label:after {
	color: #e32;
	content: '*';
	display:inline;
}
form div.submit {
	border: 0;
	clear: both;
	margin-top: 10px;
}
label {
	display: inline-block;
	font-size: 0.9em;
	margin-bottom:3px;
	text-transform: capitalize;
}
input,
textarea {
	background-color: transparent;

	border: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	outline: none;	
}
input:focus{
	
}

textarea:focus {

}

select {
	clear: both;
	font-size: 100%;
	width: 60%;
	padding: 2px;
}
select[multiple=multiple] {
	width: 100%;
}
option {
	font-size: 1em;
	padding: 0 3px;
}
input[type=checkbox] {
	clear: left;
	float: left;
	margin: 0px 6px 7px 2px;
	width: auto;
	display: none;
}
input[type="checkbox"]:not(:checked) + label,  
input[type="checkbox"]:checked + label{  
	cursor: pointer;
}
input[type="checkbox"]:not(:checked) + label:before,
input[type="checkbox"]:checked + label:before{
	content: " ";
	display: inline-block;
	vertical-align: top;
	width: 18px;
	height: 18px;
	padding: 2px;
	margin: 0 8px;
	border: 1px solid #BEBEBE;
	border-radius: 5px;
}
input[type="checkbox"]:not(:checked) + label:before{content: url("/img/theme/false.png")}
input[type="checkbox"]:checked + label:before{content: url("/img/theme/true.png")}

div.checkbox label {
	display: inline-block;
	width: 100%;
	position: inherit;
	transform:none;
}
input[type=radio] {
	float:left;
	width:auto;
	margin: 6px 0;
	padding: 0;
	line-height: 26px;
}
button[type=submit]{
	
}
.radio label {
	margin: 0 0 6px 20px;
	line-height: 26px;
}
input:invalid{
	box-shadow: none;
}
input[type=submit] {
	display: inline;
	font-size: 1.1em;
	width: auto;
}
/*----------------Layout----------------*/
div[class^="layout-"]{
	display: flex;
	flex-direction: row;
}

.layout-login{
	justify-content:space-around;
}

.layout-header{
	width: 1280px;
	margin: 0 auto;
	position: relative;
	justify-content:space-between;
}

.empty-space{
	flex-grow:1;
}

.element-end{
	align-self: flex-end;
}

.layout-index{
	flex-wrap: wrap;
	justify-content:space-between;
}

.layout-index div {
	border: 1px solid #243e79;
	height: 146px;
	margin: 8px 0;
	width: 250px;
	justify-content:space-between;
	padding: 0 8px;
}

.layout-index img {
	width: 234px;
}

.layout-footer{
	width: 1280px;
	margin: auto;
	padding-top:8px;
	justify-content:space-between;
}

.layout-footer div{
	display: inline-block;
	vertical-align: top;
	width: 30%;
	border-right: 1px solid #D6D6D6;
}

.layout-footer div:last-child{
	border: none;
	text-align: right;
	vertical-align: top;
}

/*-------------Pages------------------*/

#Header {
	background : #E7E7E7;
	border-bottom : 1px solid #243E79;
}

#Contents{
	padding: 32px 0;
	width: 1280px;
	margin: auto;
	min-height: 530px;/*le petit cache misaire*/
	background-color: #FFF;
}

#Footer{
	border-top: 1px solid #243E79;
	color: #969896;
	background : #E7E7E7;
	font-style: italic;
	padding:8px 0 97px 0;
	width: 100%;
	margin: auto;
}

#Footer a {
	background : #E7E7E7;
	color: #243E79;
}

#Container{
	background-color: #FFF;
}

/*-------------Menu-------------------*/

#Menu {
	height: 60px;
	background: #243E79;
	width: 100%;
	padding: 0 5%;
}

#Menu ul{
	display: flex;
	flex-direction:row;
	width: 1280px;
	margin: auto;
}
#Menu li{
	vertical-align: top;
	height: 60px;
}
#Menu li{
	border-right:1px solid #122960;
}
#Menu li:first-child{
	border-left:1px solid #122960;
}
#Menu a{
	height: 60px;
	line-height: 60px;
	min-width: 80px;
	display: inline-block;
	padding: 0 8px;
	
	font-weight: bold;
	color:#FFF;
	text-align: center;
	text-decoration: none;
	text-transform: capitalize;

	position: relative;
	transition: all 0.2s ease-out ;
}
#Menu a:hover{
	color: #7AA6DA;
	text-shadow: 0 0 50px #7AA6DA;
}
#Menu a:before,
#Menu a:after{
	content: ' ';
	position: absolute;

	height: 4px;
	width: 100%;
	background-color: #7AA6DA;
	transition: transform 0.2s ease-out ;
}
#Menu a:before{
	top: 0;
	left: 0;
	transform-origin: center top 0px;
	transform: perspective(200px) rotate3d(1,0,0,-90deg);	
}
#Menu a:after{
	bottom: 0;
	left: 0;
	transform-origin: center bottom 0px;
	transform: perspective(200px) rotate3d(1,0,0,90deg);
}
#Menu a.active:before,
#Menu a:hover:before{
	transform: rotate3d(1,0,0,0deg);
}
#Menu a.active:after,
#Menu a:hover:after{
	transform: rotate3d(1,0,0,0deg);
}



/*-------------Header-----------------*/

.sit-title{
	text-align: left;
	padding: 30px 0;
}

.sit-title h1{
	color : #243E79;
	font-size: 3.5em;
}

.sit-title-second{
	color : #243E79;
	font-size: 0.4em;
}
.sit-title-second::before{
	content: '-';
}

.sit-title-legende{
	font-style: italic;
	font-size: 0.3em;
	font-weight: normal;
	text-align: right;
	color: #04B431;
	width: 100%;
	margin-left: 10%;
}

.sit-title-icone{
	margin-right: 4px;
	color: #A72440;
}
/*-------------User-------------------*/
#Login{
	display: inline-block;
	width: 45%;
}
#Login .field{
	display: block;
	width: 100%;
}

.user-panel{
}
.user-panel-top{
	position:fixed;
	top:0px;
	right: 0;
	z-index: 10;
}
.user-panel-bottom{
	position:relative;
	top:12px;
}
.user-panel::before,
.user-panel::after {
	border-color: transparent transparent transparent transparent;
	border-style: solid;
	border-width: 12px;
	content: '';
	height: 0px;
	width: 0px;
	line-height: 0px;
	display: inline-block;
}

.user-panel-bottom::before{
	border-color: transparent #243e79 transparent transparent;
}
.user-panel-bottom::after {
	border-color: transparent transparent transparent #243e79;
}
.user-panel-top::before{
	border-color:  #243e79 #243e79 transparent transparent;
}
.user-panel-top::after {
	border-color: #243e79 transparent transparent #243e79;
}
.user-panel a{
	height: 24px;
	line-height: 24px;
	display: inline-block;
	padding: 0 8px;
	
	color:#FFF;
	text-align: center;
	text-decoration: none;
	text-transform: capitalize;
	background-color: #243E79;

	transition: all 0.2s ease-out;
}
.user-panel a:hover{
	color: #7AA6DA;
}

/*---------------------------------------*/
.checkbox-multiple{
	display: inline-block;
}
.checkbox.not-valid > label {
	margin-top: 20px;
}
.not-valid{
	border: dashed 1px;
	border-color : rgba(211,28,28,1);
	color: #D31C1C;
}

.valid-message{
	font-style: italic;
	position: absolute;
	top: 0;
	right: 0;
	margin: 4px;
}

.field{
	position:relative;
	padding: 8px 0;
	width: 50%;
	display: inline-block;
}
.Wysiwyg{
	width: 100%;
}
.wysiwyg-media-input{
	
	height: 50px;
	margin: 5px 3%;
	text-align: center;
	border: medium dashed #BBBBBB;
}
.field.field-focus{

}

.field::after,
.field::before{
	content:' ';
	
	width: 100%;
	left: 0;
	position: absolute;
	transition: transform 0.2s ease-out ;
}
.field::before{
	bottom: 10px;
	height: 32px;
	background-color: #E7E7E7;

	transform-origin: center bottom 0px;
	transform: perspective(200px) rotate3d(1,0,0,0deg);

}
.field.field-completed::before{
	transform: rotate3d(1,0,0,90deg);
}
.field.textarea::before{
	height: 248px;
}

.field::after{
	height: 2px;
	bottom: 8px;
	background-color: #243E79;

	transform-origin: center top 0px;
	transform: perspective(200px) rotate3d(1,0,0,-90deg);
}

.field.field-completed::after{
	transform: rotate3d(1,0,0,0deg);
}

.field.not-valid::after{
	background-color:#D31C1C;
}

.field-label{
	position: relative;

	margin: 0;
	padding-left: 4px;
	display: inline-block;

	color:  #2A2A2A;
	line-height: 16px;
	font-size: 16px;

	transition:all 0.3s ease-out;
	transform:translate(0px,26px);
}
.field-completed>.field-label{
	color:#243E79;
	transform: translate(0px,0px);
}
.field-focus>.field-label{
	font-size: 16px;
	transform: translate(26px,0px);
}


.field-input{
	position: relative;

	display: block;
	width: 100%;
	padding: 8px;

	line-height: 20px;
	font-size: 16px;
}


.field-textarea{
	position: relative;
	padding: 8px;
	width: 100%;
	height: 250px;

	color: #000;
	line-height: 20px;
	font-size: 16px;
	background-color: transparent;
	resize: none;
	border: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	outline: none;

}

.field-button{

}
.field.textarea{
	width: 100%;
}
.select{
	height:72px;
	padding: 8px 0;
	display: inline-block;
}
.select select{
	width: 100%;
	display: inline-block;
	height: 32px;
	border-color: #243e79;
	border-style: none none solid none;
	border-width: medium medium 2px medium;
}
.select-multiple label,
.select label{
	transform: translateY(0);
	display: inline-block;
	margin-bottom: 4px;
}

.file label,
.Wysiwyg label,
.radio label,
.field.checkbox>.field-label,
.field.select>.field-label{
	color: #243E79;
	transform: translateY(0);
}
.field.Wysiwyg::before,
.field.Wysiwyg::after,
.field.file::before,
.field.file::after,
.field.radio::before,
.field.radio::after,
.field.checkbox::before,
.field.checkbox::after,
.field.select::before,
.field.select-multiple::before,
.field.select::after,
.field.select-multiple::after{
	content: none;
	display: none;
}
/*--------------Wysiwyg---------------*/
.WWysiwyg{
	position: relative;
}
#WysiwygToolbar{
	border: 1px solid #BEBEBE;
	margin-bottom: 0;
	padding: 0 8px;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background: rgb(237,237,237); /* Old browsers */
	background: linear-gradient(to bottom, rgba(237,237,237,1) 5%,rgba(223,223,223,1) 100%); /* W3C */
	border-radius: 5px 5px 0 0 ;
	display: flex;
	flex-direction: row;
}
textarea {
	clear: both;
	font-size: 1em;
	width:100%;
	height: 300px;
	border: 1px solid #BEBEBE;
	border-radius:0 0  5px 5px ;
}
#Post textarea {
	height: 800px;
}
.wysiwyg-separator{
	border-left: 1px dashed #BEBEBE;
	height: 32px;
	line-height: 32px;
	margin: 0 3px
}
.wysiwyg-box{
	background: #FFF;
	position: absolute;
	top: 70px;
	margin: 0;
	border: 1px solid #AAA;
	left:0;
	padding: 4px;
}
.btn-wysiwyg-bold{
	font-weight: bold;
}
.btn-wysiwyg-italic{
	font-style: italic;
}
.btn-wysiwyg-undo{

}
.btn-wysiwyg-redo{

}
.btn-wysiwyg-link{

}
.btn-wysiwyg-source{
	align-self: flex-end;
}
.btn-wysiwyg-title{
	text-decoration: underline;
}
.wysiwyg-input-a{
	line-height: 32px;
	border: 1px solid #BEBEBE;
}
.wysiwyg-label-a{
	line-height: 32px;
}
.upload-list li{
	font-size: 12px;
}
.list-img {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.img-elem{
	width: 220px;
}

.img-select{
	width: 220px;
}
.img-name{
	width: 220px;
	display: inline-block;
	height: 20px;
	position: relative;
	top: -25px;
	background: rgba(0,0,0,0.5);
	color: #FFF;
	text-align: center;
}
/*---------------Button---------------*/
*[class^="btn-"] {
	display: inline-block;
	height: 32px;
	text-decoration: none;
	text-align: center;
	line-height: 32px;
    margin-right: 8px;
    padding: 0 4px;
    border-radius: 4px;
	border-width: 1px;
	border-style: solid;
	background-color : #E8E8FF;
	border-color: #243E79;
	color:#000;

}
a[class^="btn-"]:visited {
	color:#000;
}

*[class^="btn-"]:hover{
	background-color: #BDC5D6;/*rgba(30,30,255,0.3);*/
}

*[class^="btn-wysiwyg"]{
	font-size: 18px;
	width: 32px;
	text-decoration: none;
	text-align: center;
	vertical-align: top;
	padding: 0;
	margin: 0;
	background-color: transparent;
	border: none;
}

*[class^="btn-wysiwyg"]:hover{
	box-shadow:0px 0px 1px 0px #484E52;
	background-color: transparent;
}
.btn-submit{
	line-height: 24px;
}
/*--------------Permission------------------*/
#Permission input[type="radio"] {
	float:none;
}

.controller{
	border-bottom: 2px solid #243E79;
	font-weight: bold;
	padding: 0 4px;
}

.controller-list{
	display: flex;
	flex-direction: row;
	justify-content:space-between;
	flex-wrap: wrap;
}
.controller-element{
	border: 1px solid #BEBEBE;
	width: 19%;
	margin-bottom: 4px;
}
.action-element{
	display: flex;
	flex-direction: row;
}
.action{
	margin: 2px 0 0 4px;
}
.action-allow,
.action-deny{
	margin: 2px 0 0 4px;
	padding: 0 2px;
	border: 1px solid;
}
/*--------------Product---------------*/

.product-list{
	display: flex;
	flex-direction: row;
	
	flex-wrap: wrap;
}
.product{
	width: 320px;
	padding: 4px;
}
.product a{
	color: #000;
	text-decoration:none;
}

.product-img{
	width: 100%;
	transition: all 0.2s;
}
.product-img:hover{
	filter: brightness(125%);
}

.product-text{

}
.product-name{

}
.product-prix{
}

.product-view{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.product-image{
	width: 50%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 4px;
}

.product-attr{
	width: 50%;
	padding: 4px;
}

.product-image-master{
	width: 80%;
}
.product-image-list{
	height: 380px;
	width: 20%;
	overflow: hidden;
	position: relative;
}
.arrow-up{
	position: absolute;
	text-align: center;
	background: linear-gradient(to bottom, rgba(255,255,255,1) 20%,rgba(255,255,255,0) 100%);
	font-size: 24px;
	line-height: 24px;
	transition: all 0.5s ease-out;
	z-index: 10;
	height: 25px;
	right: 0;
	left: 0;
	top:0;

}
.arrow-down{
	position: absolute;
	text-align: center;
	background: linear-gradient(to top, rgba(255,255,255,1) 20%,rgba(255,255,255,0) 100%);
	font-size: 24px;
	line-height: 24px;
	transition: all 0.5s ease-out;
	z-index: 10;
	height: 25px;
	bottom: 0;
	right: 0;
	left: 0;

}
.arrow-up:hover{
	background: linear-gradient(to bottom, rgba(255,255,255,1) 80%,rgba(255,255,255,0) 100%);
}
.arrow-down:hover{
	background: linear-gradient(to top, rgba(255,255,255,1) 80%,rgba(255,255,255,0) 100%);
}
.product-the-list{
	position: relative;
	top: 0;
	transition: all 0.2s;
}

.product-image-list-img{
	width: 100%;
}
.product-image-master-img{
	padding: 4px;
	width: 100%;
}
.product-image-list-img:hover{
	filter: brightness(125%);
}
/**/
.admin-panel{
	position:fixed;
	top: 0;
	left: 0;
	background: #243E79;
	z-index: 1;
}
.admin-btn-containe{
	display: inline-block;
	height: 60px;
	width:60px;
	z-index: 10;
}
.admin-btn{
	display: inline-block;
	border: 1px solid #122960;
	margin: 8px;
	transition: all 0.2s;
	border-radius: 4px;
}
.admin-btn:hover{
	border-color: #7AA6DA;
}
.admin-ligne{
	display: block;
	height: 2px;
	width: 36px;
	border:2px solid #FFF;
	border-radius: 5px;
	margin:6px 2px;
}
.admin-btn:hover .admin-ligne{
	border-color: #7AA6DA;
	box-shadow: 0 0 50px #7AA6DA;
	transition: all 0.2s;
}
.admin-content{
	position: fixed;
	width: 200px;
	display: none;
	padding-top: 60px;
	background: #243E79;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: -1;
	
}
.admin-option{}
.admin-option:first-child{
	border-top: 1px solid #122960;
}

.admin-link:visited,
.admin-link{
	height: 60px;
	line-height: 60px;
	width: 200px;
	min-width: 80px;
	display: inline-block;
	padding: 0 8px 0 30px;
	
	font-weight: bold;
	color:#FFF;
	text-align: left;
	text-decoration: none;
	text-transform: capitalize;

	position: relative;
	transition: all 0.2s ease-out ;
	border-bottom: 1px solid #122960;
}
.admin-link:hover{
	color: #7AA6DA;
	text-shadow: 0 0 50px #7AA6DA;
}
.admin-link:before,
.admin-link:after{
	content: ' ';
	position: absolute;

	height: 4px;
	width: 100%;
	background-color: #7AA6DA;
	transition: transform 0.2s ease-out ;
}
.admin-link:before{
	top: 0;
	left: 0;
	transform-origin: center top 0px;
	transform: perspective(200px) rotate3d(1,0,0,-90deg);	
}
.admin-link:after{
	bottom: 0;
	left: 0;
	transform-origin: center bottom 0px;
	transform: perspective(200px) rotate3d(1,0,0,90deg);
}
.admin-link.active:before,
.admin-link:hover:before{
	transform: rotate3d(1,0,0,0deg);
}
.admin-link.active:after,
.admin-link:hover:after{
	transform: rotate3d(1,0,0,0deg);
}
/*--------------Cart------------------*/
.cart-element{
	position:relative;
}
.cart-content{
	padding: 8px;
	display: none;
	overflow: auto;
	background-color: #FFF;
	border: 1px solid #EEE;
	border-radius: 0 5px 0 0;
	
	position: absolute;
	left: -80px;
	top: 24px;
	z-index: 10;
}
.cart-content a{
	background-color : #FAE8E8;
	border-color : #D31C1C;
	transition: all 0.2s;
	color:#000;
}
.cart-content a:hover{
	background-color: #F2BABA;
	color:#000;
}
.cart-content .btn-success{
	background-color : #EAFFEB;
	border-color : #2EFF3C;
	transition: all 0.2s;
}
.cart-content .btn-success:hover{
	background-color: #C0FFC4;
	color:#000;
}
/*------------------------------------*/
.flash-message{
	border: 1px solid #BEBEBE;
	border-radius: 2px;
	display: inline-block;
	width: 100%;
	padding: 4px;
	margin: 4px 0;
}

.success,
.btn-success{
	background-color : #EAFFEB;
	border-color : #2EFF3C;
	transition: all 0.2s;
}
.warning,
.btn-warning{
	background-color: #FFF9F3;
    border-color: #FFC88E;
    transition: all 0.2s;
}
.error,
.btn-error{
	background-color : #FAE8E8;
	border-color : #D31C1C;
	transition: all 0.2s;
}
.info,
.btn-info{
	background-color : #E8E8FF;
	border-color : #243E79;
	transition: all 0.2s;
}
.success:hover,
.btn-success:hover{
	background-color: #C0FFC4;/*rgba(105,178,65,0.3)*/
}
.warning:hover,
.btn-warning:hover{
	background-color: #FFEFDE;/*rgba(255,200,142,0.3);*/
}
.error:hover,
.btn-error:hover{
	background-color: #F2BABA;/*rgba(211,28,28,0.3);*/
}
.info:hover,
.btn-info:hover{
	background-color: #BDC5D6;/*rgba(30,30,255,0.3);*/
}

/*-----------------------Pagination---------------------*/
#Paginator{
	text-align: center;
}

.paging{
	justify-content: center;
}
.btn-paging,
.btn-paging:hover{
	min-width: 32px;
	margin: 4px;
}
.paging-current,
.paging-current:hover{
	background: none;
	color: #303030;
	font-size: 0.8em;
	font-style: italic;
}
a.paging-disabled,
a.paging-disabled:hover{
	display: none;
}


/*-------------------------------------*/
.post-title,
.post-title:visited{
	text-decoration: none;
	color: #000;
}
.label-tags{
	display: block;
	width: 100%;
}
#Message-Form form div{
	margin: 0;
}

/*--------------Error------------------*/
#Error {
	width: 80%;
	margin: auto;
}
#Error header{
	margin-bottom: 8px;
}
#Error .debug-message{
	border: none;
}
.legend{
	color: #303030;
	font-size: 0.8em;
	font-style: italic;
	line-height: 20px;
}
.trace{
	display: block;
	background-color:#BEBEBE;
}

.trace>div:nth-child(2n){
	color: #FFF;
	text-align: right;
	background-color:#000;
}
div[class*="trace-"]{
	display: inline-block;
	margin: 2px;
}
.trace-args{
	text-align: left;
	display: none;
}
.trace-type,
.trace-function{
	color:#7AA6DA;
}
.trace-class{
	color: #04b431;
}
.trace-line{
	font-weight: bold;
}

/*----------------debug-----------------*/
#debug{
	position: fixed;
	bottom: 0;
	left: 0;
}

.debug-btn-containe-master{
	vertical-align: top;
	text-align: left;
	display: inline-block;
	background: #FFF;
	border: 1px solid #EEE;
	
	bottom: 0;
}
.debug-btn-containe{
	margin: 0px;
}
.debug-var{
	color:#F5DA81;
}
.debug-keyword{
	color:#7AA6DA;
}
.debug-integer{
	color:#DF5F5F;
}
.debug-source{
	color:#04B431;
}
.debug-text{
	color:#58FA58;
}
.debug-php{
	color:#E78C45;
}
.debug-message{
	background-color: #000;
	color:#C397D8;
	border: solid 1px  #969896;
	font-size: 16px;
	border-radius: 4px;
	padding: 4px;
}
.debug-message pre{
	padding-top: 8px;
	color: #FFF;
}

.btn-debug{
	font-size: 12px;
	line-height: 24px;
}

.btn-debug:hover{
	font-size: 12px;
	line-height: 24px;
}
.widget-debug-list{
	display: none;
	
	background-color: #FFF;
	border: 1px solid #EEE;
	border-radius: 0 5px 0 0;

	position: fixed;
	left:90px;
	bottom: 0;
}

.widget-debug{
	display:inline-block;
}

.widget-debug-content{
	display: none;
	padding: 8px;
	
	overflow: auto;
	background-color: #FFF;
	border: 1px solid #EEE;
	border-radius: 0 5px 0 0;
	
	position: fixed;
	left: 0;
	bottom: 49px;
	top: 0;
	right: 0;
}
/*---------------------------------------*/
.text-color-black{
	color:black;
}
.text-color-gray{
	color:gray;
}
.text-color-green{
	color:green;
}
.text-color-red{
	color:red;
}
.text-color-blue{
	color:blue;
}
.post-img-left,
.post-img-default,
.post-img-right{
	display: inline-block;
	margin: 8px;
	border-radius: 10px;
	border: 1px solid #EEE;
	vertical-align: top;
}

.post-img-left{
	float: left;

}
.post-img-right{
	float: right;
}

.color-select label{
	width: 25px;
	height: 25px;
	display: inline-block;
	vertical-align: top;
	border-radius: 8px;
	border: 1px solid #BEBEBE;
}
.color-input{
	position: relative;
	z-index: 99;
	width: 140px;
	border: 1px solid #BEBEBE;
	border-radius: 8px;
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(220,220,220,1) 100%); /* W3C */
	padding: 5px;
	margin: 0;
}
.color-select-master{
	padding: 5px;
	margin: 0;
}
.color-select {
	width: 30px;
	margin: 0;
}
.color-select span{
	border: 1px solid  #BEBEBE;
	height: 25px;
	width: 25px;
	display: block;
	border-radius: 5px;
	padding: 0;
	margin: 0;
}
.color-select span:hover{
	cursor: pointer;
	box-shadow:1px 1px 1px 0px #BEBEBE;
}
.color-select [type="radio"]:not(:checked) + label,
.color-select [type="radio"]:checked + label {
	cursor: pointer;
}
.color-select [type="radio"]:checked + label {
	cursor: pointer;
}
.block{
	display: block;
}
/*---------------------------------------*/
.history-information a{
	margin: 3px;
	display: block;
}
.history-information{
	display: none;
	padding: 5px;
	font-size: 0.8em;
}
.history-list{

}
.history-header{

}
#browsing-history{
	margin: auto;
}

@media screen and (max-width: 1000px) and (min-width: 800px){}
@media screen and (max-width: 800px) and (min-width: 600px){
	#Login{
		width: 100%;
	}
	.empty-space{
		display: none;
	}
}
@media screen and (max-width: 600px){


	#Header {
		background: #eee none repeat scroll 0 0;
		border-top: 1px solid #122960;
		height: 120px;
	}
	#Menu, #Contents, #Footer {
    	padding: 0;
	}
	#Contents{
		margin: 8px;
	}
	.flash-message {
    	margin: 0;
    	padding: 0;
	}
	.field{
		position:relative;
		padding: 8px 0;
		margin: 0 2px;
		width: 100%;
		display: block;
	}
	#Login{
		width: 100%;
	}
	.empty-space{
		display: none;
	}
}
