/*-------------Header-----------------*/

#Header {
	background : #E7E7E7;
	border-bottom : 1px solid $color-primary;
}


.sit-title{
	text-align: left;
	padding: 30px 0;
}

.sit-title h1{
	color : $color-primary;
	font-size: 3.5em;
}

.sit-title-second{
	color : $color-primary;
	font-size: 0.4em;
}
.sit-title-second::before{
	content: '-';
}

.sit-title-legende{
	font-style: italic;
	font-size: 0.3em;
	font-weight: normal;
	text-align: right;
	color: #04B431;
	width: 100%;
	margin-left: 10%;
}

.sit-title-icone{
	margin-right: 4px;
	color: #A72440;
}