$text-color: #000000;
$text-light: #333333;
$text-midle: #777777;

$black: #000;
$white: #FFF;

$info: #2343DB;
$info-back: #C8C8FF;
$info-hover: #BDC5D6;

$success: #2EFF3C;
$success-back: #EAFFEB;
$success-hover: #C0FFC4;

$warning: #FFC88E;
$warning-back: #FFF9F3;
$warning-hover: #FFEFDE;

$error: #D31C1C;
$error-back: #FAE8E8;
$error-hover: #F2BABA;


// Main Primary color 
$color-primary: #243E79;
$color-primary-light: #5B71A5;
$color-primary-middle-light: #3A538C;
$color-primary-middle-dark: #132B63;
$color-primary-dark: #061A46;

// Main Secondary color
$color-secondary: #202020;
$color-secondary-light: #918F8F;
$color-secondary-middle-light: #5C5C5C;
$color-secondary-middle-dark: #000000;
$color-secondary-dark: #030202;

// Main Third color
$color-third:  #8F6E35;
$color-third-light:  #F6E1BD;
$color-third-middle-light:  #BA9B65;
$color-third-middle-dark:  #614310;
$color-third-dark:  #2B1B00;

$grey: #ABABAB;
$grey-light: #F0F0F0;
$grey-middle-light: #D7D7D7;
$grey-middle-dark: #7F7F7F;
$grey-dark: #4C4B4B;

